@import '/src/styles/helpers';

.productsPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: rem(78) auto 0;
  max-width: per(390, 430);
  padding-bottom: rem(162);
  min-height: calc(100svh - rem(78));

  @include lg {
    min-height: unset;
    margin: 68px auto 0;
    max-width: per(1224, 1280);
  }

  @include xl {
    max-width: rem(1294);
  }

  h1 {
    order: 1;
    margin-top: rem(24);
    font-size: rem(36);
    line-height: 100%;

    @include lg {
      margin-top: rem(40);
    }
  }

  h2 {
    order: 3;
    font-size: rem(42);
    line-height: 100%;
    margin-top: rem(36);

    @include lg {
      order: 4;
    }
  }
}

.hero {
  order: 2;
  margin-top: rem(20);

  @include lg {
    order: 3;
    margin-top: rem(36);
    display: flex;
    align-items: center;
    padding-left: rem(40);
    padding-right: rem(30);
  }
}

.autoSlider {
  order: 4;
  height: rem(195);
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  max-width: rem(1294);
  margin-top: rem(18);

  @include md {
    width: unset;
    left: unset;
    transform: unset;
  }

  @include lg {
    order: 2;
    height: rem(366);
    display: block;
    margin-top: rem(42);
  }
}

.slide {
  object-fit: cover;
}

.categoriesButtons {
  margin-top: rem(28);

  @include lg {
    margin-top: 0;
    margin-left: rem(36);
    width: rem(390);
  }
}

.searchBar {
  @include lg {
    margin-top: rem(-20);
    flex-grow: 1;
  }
}

.productsList {
  order: 5;
}

.logo {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  bottom: 0;
  left: -247px;
  width: 454px;
  height: 356px;

  @include lg {
    bottom: unset;
    top: 200px;
    left: -260px;
    width: 407px;
    height: 434px;
  }
}
