@import '/src/styles/helpers';

.product, .productCompact {
  display: flex;
  flex-direction: column;
}

.imgContainer, .imgContainerCompact {
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  @include gradient;

  img {
    transition: transform 300ms ease-out;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

    img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}

.imgContainer {
  height: rem(212);
}

.imgContainerCompact {
  height: rem(174);
}

.title {
  margin-top: rem(16);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: rem(19);
    line-height: 100%;
  }

  b {
    font-size: rem(26);
    line-height: 100%;
    font-variant-numeric: tabular-nums;
  }
}

.footer, .footerCompact {
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: rem(14);
}

.footerCompact {
  margin-top: rem(12);
  align-items: center;

  b {
    font-size: rem(26);
    line-height: 100%;
  }
}

.info, .infoCompact {
  display: flex;

  small {
    display: block;
    line-height: per(16, 12);
    opacity: 0.54;
  }
}

.info {
  align-items: center;

  div + div {
    margin-left: rem(30);
  }

  small {
    font-size: rem(12);
  }
}

.infoCompact {
  margin-top: rem(6);

  div + div {
    margin-left: rem(18);
  }

  small {
    font-size: rem(8);
  }
}

.button {
  width: rem(94);
  height: rem(40);
  margin-left: rem(8);
}

.productCompact {
  h3 {
    font-size: rem(16);
    margin-top: rem(12);
    min-height: rem(32);
  }
}