@import '/src/styles/helpers';

.category {
  position: relative;
  width: rem(390);
  height: rem(178);
  border-radius: 18px;
  overflow: hidden;
  transition: 300ms ease box-shadow;

  @include gradient;

  @include lg {
    &:hover {
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

      img {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }

  img {
    transition: transform 300ms ease-out;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    left: rem(30);
    bottom: rem(24);
    font-size: rem(20);
    color: #fff;
  }
}
