@import '/src/styles/helpers';

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background: #6d645a;
  height: rem(78);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 200;

  @include lg {
    height: rem(68);
  }
}

.navbarFull {
  display: none;

  menu {
    width: rem(598);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li[data-active='true'] a {
    background: #fff;
    border-radius: 10px;
    padding: rem(12) rem(20);
    color: #1e1e1e;
    font-size: rem(14);
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
  }

  a {
    color: #fff;
    font-size: rem(16);
    line-height: per(24, 16);
  }

  @include lg {
    display: block;

    a:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  @include lg {
    left: 112px;
    width: 54px;
    height: 54px;
  }
}

.navbar {
  display: flex;
  align-self: stretch;

  li {
    position: relative;
    align-self: stretch;
    display: flex;
  }

  li a {
    display: flex;
    width: rem(70);
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  @include lg {
    li {
      margin-right: rem(88);
    }

    path {
      transition: 0.3s ease fill;
    }

    a {
      cursor: pointer;

      &:hover path {
        fill: #dfc597;
      }
    }

    li + li {
      display: none;
    }
  }
}

.cartItemsCount {
  position: absolute;
  top: rem(16);
  right: rem(12);
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: #A6763C;
  color: #fff;
  font-weight: 700;
  font-size: rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
}
