@import '/src/styles/helpers';

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #6d645a;
  height: 100vh;
  max-height: rem(78);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 200;
  transition: 500ms ease all;

  &[data-opened='true'] {
    max-height: rem(312);
  }

  @include lg {
    height: rem(68);
    justify-content: unset;
    max-height: unset;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  margin-top: rem(78);
  height: calc(100% - rem(78));

  @include lg {
    width: unset;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: static;
    height: unset;
    margin-top: 0;
  }

  menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);

    @include lg {
      flex-direction: row;
      width: rem(598);
      justify-content: space-between;
    }
  }

  li[data-active='true'] {
    background: #fff;
    border-radius: 10px;
    padding: rem(12) rem(20);

    a {
      color: #1e1e1e;
      font-size: rem(14);
      line-height: 100%;
      font-weight: 700;
      text-decoration: none;
    }
  }

  a {
    color: #fff;
    font-size: rem(16);
    line-height: per(24, 16);

    @include lg {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logo {
  position: relative;
  align-self: flex-start;
  width: rem(64);
  height: rem(64);
  margin-left: rem(30);
  margin-top: rem(7);
  flex-shrink: 0;

  @include lg {
    margin-left: rem(112);
    width: rem(54);
    height: rem(54);
  }
}

.cartAndMenu {
  display: flex;
  align-self: stretch;
  align-items: flex-start;

  li {
    position: relative;
    display: flex;
    width: rem(70);
    height: rem(78);
    justify-content: center;
    align-items: center;
  }

  @include lg {
    li {
      margin-right: rem(88);
    }

    path {
      transition: 0.3s ease fill;
    }

    a {
      cursor: pointer;

      &:hover path {
        fill: #dfc597;
      }
    }

    li + li {
      display: none;
    }
  }
}

.cartItemsCount {
  position: absolute;
  top: rem(16);
  right: rem(12);
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: #a6763c;
  color: #fff;
  font-weight: 700;
  font-size: rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
}
