@import '/src/styles/helpers';

.checkoutPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  max-width: per(390, 430);
  padding-bottom: rem(88);

  @include lg {
    margin-inline: auto;
    max-width: min(per(1224, 1280), rem(1294));
  }
}

.head {
  margin-top: rem(44);

  h1 {
    font-size: rem(30);
  }

  @include lg {
    display: flex;
    justify-content: space-between;
    margin-top: rem(40);

    h1 {
      font-size: rem(36);
    }
  }
}

.steps {
  margin-top: rem(24);

  @include lg {
    margin-top: 0;
  }
}

.content {
  margin-top: rem(48);

  @include lg {
    margin-top: rem(60);
    gap: rem(16);
    display: flex;
    justify-content: space-between;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;

  input, label {
    width: 100%;
  }

  @include lg {
    max-width: rem(634);
  }
}

.nameAndPhone {
  display: flex;
  gap: rem(20)
}

.fieldsRow {
  margin-top: rem(24);

  @include lg {
    margin-top: rem(24)
  }
}

.textarea {
  min-width: 100%;
  min-height: rem(36);
}

.radioButtons {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include lg {
    margin-top: rem(40);
  }
}

.cards {
  width: rem(284);
  margin: rem(34) auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include lg {
    margin: rem(32) 0 0 rem(54);
  }
}

.summary {
  margin-top: rem(78);
  border: 1px solid #A6763C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: rem(14) rem(20) rem(16);

  h6 {
    font-size: rem(12);
    line-height: per(16, 12);
    color: #000;
  }

  button {
    margin: rem(18) rem(48) 0;
    height: rem(35);
    font-size: rem(12);
  }

  @include lg {
    margin-top: 0;
    align-self: flex-start;
    width: rem(360);
  }
}

.total {
  margin-top: rem(14);
  display: flex;
  justify-content: space-between;

  div span {
    display: block;
    font-size: rem(12);
    line-height: per(20, 12);
  }
}