@import '/src/styles/helpers';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #6d645a;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @include lg {
    padding: rem(44) rem(118);
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  opacity: 0.05;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 454px;
  height: 438px;

  @include lg {
    width: 320px;
    height: 310px;
  }  
}

.logoMini {
  position: relative;
  width: 99px;
  height: 106px;
  margin-top: 44px;

  @include lg {
    margin-top: 0;
    width: 142px;
    height: 152px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(36);

  @include lg {
    margin-top: 0;
  }

  div + div {
    margin-top: rem(8);
  }

  a {
    margin-left: rem(18);
    color: #d9d9d9;
    font-weight: 700;
    font-size: rem(18);
    line-height: per(28, 18);
  }
}

.socialMedia {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include lg {
    margin-top: 0;
  }

  p {
    font-size: rem(16);
    line-height: per(24, 16);
    text-align: center;
    color: #d9d9d9;
  }
}

.socialIcons {
  margin-top: rem(10);
  display: flex;
  justify-content: space-between;

  a {
    display: block;
    padding: 5px;
  }
}

.subfooter {
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 1rem;
  margin-bottom: rem(10);

  small {
    margin-left: rem(8);
    font-size: rem(16);
  }
}

.subfooterVertical {
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: rem(60) auto rem(26);

  @include lg {
    margin: rem(26) auto;
  }
}