@import '/src/styles/helpers';

.thankYouPage {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  margin-inline: auto;
  max-width: per(390, 430);

  h1 {
    margin-top: rem(80);
    font-size: rem(48);
  }

  p {
    margin-top: rem(30);
    font-size: rem(24);
  }

  @include lg {
    max-width: unset;
    min-height: unset;
  }
}