@import '/src/styles/helpers';

.button {
  outline: none;
  border: none;
  background: #a6763c;
  border-radius: 10px;
  color: #fff;
  line-height: per(16, 13);

  @include lg {
    transition: 300ms ease all;

    &:hover {
      cursor: pointer;
      background-color: #f2ac57;
      box-shadow: 0 6px 10px rgba(255, 90, 57, 0.28);
    }
  }
}

.filter {
  width: rem(57);
  height: rem(42);
  background-color: transparent;
  border: 1px solid #1e1e1e;
  border-radius: 10px;

  @include lg {
    transition: 300ms ease background-color;
    &:hover {
      cursor: pointer;
      background-color: #dfc5979a;
    }
  }
}

.quad {
  width: rem(64);
  height: rem(64);
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  background-color: transparent;

  @include lg {
    transition: 300ms ease background-color;
    &:hover {
      cursor: pointer;
      background-color: #dfc5979a;
    }
  }
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(8);

  &::before {
    content: '';
    display: block;
    width: rem(22);
    height: rem(22);
    border-radius: 50%;
    background-color: #d9d9d9;
  }

  span, input {
    display: none;
  }

  input:checked + span {
    display: block;
    width: rem(12);
    height: rem(12);
    background-color: #A6763C;
    position: absolute;
    border-radius: 50%;
    left: rem(5);
  }

  @include lg {
    cursor: pointer;
  }
}
