@import 'reset-css';
@import '_fonts';

html,
body {
  min-height: 100vh;
}

@media screen and (max-width: 429px) {
  html {
    font-size: 3.72vw;
  }
}

body {
  font-family: Bellota, sans-serif;
  color: #1E1E1E;
  background: #F6F0E6;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}
