.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  background-color: rgba(166, 118, 60, 0.47);
  backdrop-filter: blur(8px);

  &[data-state='opened'] {
    animation: fadeIn 300ms forwards;
  }

  &[data-state='closing'] {
    animation: fadeOut 300ms forwards;
  }

  &[data-state='closed'] {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 110;
  transform: translate(-50%, -50%);
}

.closeIcon {
  position: absolute;
  top: -50px;
  right: 0;
  cursor: pointer;
}
