@import '/src/styles/helpers';

.productDetails {
  position: relative;
  display: flex;
  min-width: rem(1036);
  align-items: stretch;
  background-color: #f6f0e6;
  border-radius: 20px;
  padding: rem(26) rem(76) rem(26) rem(26);
  gap: rem(34);
}

.imgContainer {
  position: relative;
  width: rem(530);
  height: rem(500);
  flex-shrink: 0;
  
  img {
    transition: 300ms ease opacity;
    opacity: 0;
  }

  svg {
    display: block;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &[data-state='success'] {
    svg {
      display: none;
    }

    img {
      opacity: 1;
    }
  }

  &[data-state='failure'] {
    svg {
      display: none;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-size: rem(36);
    line-height: per(46, 36);
    margin-top: rem(32);
  }

  h5 {
    margin-top: rem(26);
    font-size: rem(16);
    line-height: per(34, 16);
  }

  p {
    font-weight: 400;
    font-size: rem(14);
    line-height: per(16, 14);
    opacity: 0.54;
  }
}

.backButton {
  flex-shrink: 1;
  background: transparent;
  outline: none;
  border: none;
  font-size: rem(16);
  line-height: 100%;
  font-weight: 700;
  transition: color 300ms ease;
  cursor: pointer;

  &:hover {
    color: #f2ac57;

    svg {
      stroke: #f2ac57;
    }
  }

  svg {
    margin-left: rem(8);
  }
}

.productInfo {
  display: flex;
  align-items: center;
  margin-top: rem(26);
  gap: rem(46);

  span,
  b {
    display: block;
    font-size: rem(12);
    line-height: per(16, 12);
    opacity: 0.54;
  }

  small {
    font-size: rem(12);
  }
}

.price {
  font-size: rem(32);
  line-height: per(35, 32);
}

.button {
  margin-top: rem(38);
  height: rem(64);
  width: 100%;
  font-size: rem(18);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flagImg {
  margin-left: rem(21);
}

.navprev,
.navnext {
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #dfc597;
  padding: 22px 27px 22px 22px;
  cursor: pointer;
  transition: 300ms ease all;

  &:hover {
    cursor: pointer;
    background-color: #f2ac57;
    box-shadow: 0 6px 10px rgba(255, 90, 57, 0.28);
  }
}

.navprev {
  left: -40px;
}

.navnext {
  right: -40px;
  transform: translateY(-50%) rotate(180deg);
}
