@import '/src/styles/helpers';

.categoriesButtons {
  display: flex;
  justify-content: space-between;
}

.button + .button {
  margin-left: rem(10);
}


.longLabel {
  width: rem(64);
  font-size: rem(10);
}