@import '/src/styles/helpers';

.category {
  position: relative;
  width: rem(390);
  height: clamp(rem(178), 38vw, rem(250));
  border-radius: 18px;
  overflow: hidden;
  transition: 300ms ease all;

  img {
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    opacity: 0;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    left: rem(30);
    bottom: rem(24);
    font-size: rem(20);
    color: #fff;
    z-index: 1;
  }

  &[data-loaded='true'] {
    img {
      opacity: 1;
    }

    @include gradient;
  }

  &[data-loaded='false'] {
    background-color:rgba(0, 0, 0, 0.20);
  }

  @include sm {
    height: rem(178);
  }

  @include lg {
    &:hover {
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

      img {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }
}
