@import '/src/styles/helpers';

.viewSelector {
  position: relative;
  width: rem(94);
  height: rem(38);
  border: 1px solid #000;
  border-radius: 10px;
  padding-left: rem(14);
  padding-right: rem(10);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &[data-selected='grid'] .grid rect {
    stroke: #a6763c;
  }

  &[data-selected='list'] .list path {
    stroke: #a6763c;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-left: 1px solid #000;
  }

  rect, path {
    transition: 300ms ease stroke;
  }
}
